:root {
  --primery-text-color: #757575;
  --secondary-text-color: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hyro-bg-color: #2f303a;
  --futer-address-color: rgba(255, 255, 255, 0.6);
  --container-bg-color: #eeeeee;
  --line-header-color: #ececec;
  --buton-active-color: #188ce8;
}

body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);

  font-family: Roboto, 'open sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* site-nav */

.logo {
  color: var(--secondary-text-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-web {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primery-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
.hyro {
  background-color: var(--hyro-bg-color);
}
.hyro-title {
  color: var(--primery-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.button {
  color: var(--primery-bg-color);
  cursor: pointer;
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  background-color: var(--buton-active-color);
}
/* section */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */
.features-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  font-weight: 400;
  line-height: 1.71;
}

/* team */
.section-team {
  background-color: var(--secondary-bg-color);
}
.team-card {
  background-color: var(--primery-bg-color);
}

/* team */
.team-card .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2px;
}

.team-card .text {
  color: var(--primery-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
/* footer */
.footer {
  background-color: var(--hyro-bg-color);
}
.footer .logo {
  color: var(--primery-bg-color);
}

.address .text,
.address .link {
  color: var(--primery-bg-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address .text:hover,
.address .text:hover {
  color: var(--accent-color);
}
.address .link:hover,
.address .link:hover {
  color: var(--accent-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
}

/* portfolio */

.filters-button {
  color: var(--title-text-color);

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--primery-bg-color);
}

.project .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.88;
}
